<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>
{{> menu}}
<h1>{{title}}</h1>
<p>userName: {{userName}}</p>
<p>userAge: {{userAge}}</p>
{{#if albumsVisible}}
    <h3>Albums</h3>
    <ul>
        {{#each albums}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}
{{> footer}}
</body>
<html>